<?xml version="1.0" encoding="UTF-8"?>

<web-app>

	<servlet>
		<servlet-name>ViewProductServlet</servlet-name>
		<servlet-class>test.ViewProductServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DetailsServlet</servlet-name>
		<servlet-class>test.DetailsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewProductServlet</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DetailsServlet</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list>


</web-app>